body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 0 20px 30px 0;
    line-height: 1.4;
    background-color: black;
    color: white;
}

#erase{
    margin-left: 12px;
}

#genRandomNumbers{
    margin-right: 3px;
    font-size: 10px;
}

#algorithms{
    margin-top: 50px;
    margin-right: 500px;
}

#inputNumbers{
    margin-top: 25px;
    margin-right: 92px;
    margin-left: 20px;
}

#button3{
    margin-top: 67px;
    margin-left: 15px;
    margin-bottom: 5px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.cell {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: white; 
    border: 1px solid #fff; 
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    color: black; 
}

.cell {
    transition: transform 0.3s ease-in-out;
  }
  
  .swap-animation {
    transform: translateX(100px); 
  }
  
